html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1e;
}

#root {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  line-height: 1rem;
  max-width: 900px;

}

.priceCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrap {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 250px;
  max-width: 600px;
}

.input {
  margin: 0.5rem 0;
}

.items {
  margin: 0 auto;                  /* center container */
  width: 800px;
  padding-left: 0;                 /* remove list padding */
  font-size: 0;  
}

.item {
  display: inline-block;
  font-size: 18px;                 /* restore font size removed in container */
  list-style-type: none;
  width: 150px;
  margin: 15px 0 15px 40px;
  box-sizing: border-box;
  text-align: center;
}

.itemItem {
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.itemContent {
  margin: 0.4rem 0.3rem;
}

.itemTitle {
  font-size: 1rem;
  font-weight: bold;
}

.itemSize {
  font-size: 0.9rem;
}

.itemDescription {
  font-size: 0.7rem;
  margin: 0.2rem 0;
  line-height: 1rem;
}

.itemShirt {
  height: 95%;
}

.CoverContent {
  margin: 0.2rem 0.3rem;
}

.CoverTitle {
  font-size: 0.8rem;
  font-weight: bold;
}

.CoverSize {
  font-size: 0.8rem;
}

.CoverDescription {
  font-size: 0.5rem;
  margin-bottom: 0.1rem;
}

.CoverShirt {
  height: 100%;
}

.CoverPrice {
  font-size: 0.8em;
}

.itemBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navItem {
  text-decoration: none;
  color: black;
  padding: 0.1rem;
  font-size: 15px;
}

.navItem:hover {
  border-bottom: 1px solid black;
}

.navItem.active {
  border-bottom: 1px solid black;
}

.navTitle {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.navLinks {
  text-decoration: none;
  color: black;
  padding-right: 0.5rem;
  font-size: 14px;
}

.navLinks.active {
    border-bottom: 1px solid black;
  }

img {
  height: 60%;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.options {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 430px) { .items { width: 200px; } }
@media screen and (min-width: 431px) and (max-width: 630px) { .items { width: 400px; } }
@media screen and (min-width: 631px) and (max-width: 830px) { .items { width:600px;  } }
/* @media screen and (min-width: 831px) and (max-width: 1030px) { .items { width: 800px; } }
@media screen and (min-width: 1031px) and (max-width: 1230px) { .items { width: 800px !important; } } */
