html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #1a1a1e;
}


#root{
    margin: 0;
    padding: 0
}

.app{
    width: 100%; 
    height: 100vh; 
    overflow-x: hidden;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    line-height: 1rem;
}


.wrap{
    height: 100vh; 
    overflow-x: hidden;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signUp{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.input{
    margin: .5rem 0
}

.items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 .5rem;
}

.item{
    width: 47%;
    height: 13rem;
    border: 1px solid white;
    padding: 0 .2rem .9rem .2rem;
}

.itemPage{
    height: 100%
}

.itemItem{
    width: 90%;
    height: 73vh;
    border: 1px solid white;
    padding: .2rem;
    margin-right: auto;
    margin-left: auto;
}

.itemContent{
    margin: .4rem .3rem;
}

.itemTitle{
    font-size: 1rem;
    font-weight: bold;
}

.itemSize{
    font-size: .9rem;
}

.itemDescription{
    font-size: .7rem;
    margin: .2rem 0;
    line-height: 1rem;
}

.itemShirt{
    height:95%
}

.CoverContent{
    margin: .2rem .3rem;
}

.CoverTitle{
    font-size: .8rem;
    font-weight: bold;
}

.CoverSize{
    font-size: .8rem;
}

.CoverDescription{
    font-size: .5rem;
    margin-bottom: .1rem;
}

.CoverShirt{
    height:100%
}

.CoverPrice{
    font-size: .8em;
}

.itemBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav{
    overflow: hidden;
    z-index: 100;
    height: 6rem
}

.navItem{
    text-decoration: none;
    color: black;
    padding: .1rem
}

.navItem:hover{
    border-bottom: 1px solid black;
}

.navItem.active{
    border-bottom: 1px solid black;
}

.navTitle{
    text-decoration: none;
    color: black;
    padding: .1rem
}


img{
    height: 75%;
    width: 100%
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
}

.options{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
